*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100w;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom , #ffa585 ,#45c5d8);
    color: white;
}
.container{
    border: 1px solid white;
    border-radius: 10px;
    padding: 28px 32px ;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 8px 4px #909090 , 8px 8px 0px #575757;
}
.container h1{
    font-size: 1.4rem;
    margin-block: 8px;
}
.passBox{
    background-color: white;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
}
.row{
    display: flex;
    margin-block: 8px;
}
.row p, .row label {
    flex-basis: 100%;
}
.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.btn{
    background-color: rgb(5, 5, 186);
    padding: 12px 24px;
    color: white;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
}